In [28]:
# Import Dependencies
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine
# from config import password

In [29]:
# Create db in pgadmin if not already created
# Create postgres engine and connect
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/Project2AQI")
conn = engine.connect()

In [30]:
# LA - Import raw/uncleaned cvs files 
dataLA = pd.read_csv("Resources/aqiDailyLA.csv")

In [31]:
# View dataLA types
dataLA.head()

,Date,Overall_AQI_Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,1/1/2020,102,PM2.5,Long Beach-Route 710 Near Road,06-037-4008,AirNow,NaN,44,NaN,NaN,102,NaN
1,1/2/2020,66,PM2.5,Long Beach-Route 710 Near Road,06-037-4008,AirNow,NaN,40,NaN,NaN,66,NaN
2,1/3/2020,87,PM2.5,Long Beach-Route 710 Near Road,06-037-4008,AirNow,NaN,41,NaN,NaN,87,NaN
3,1/4/2020,99,PM2.5,Long Beach-Route 710 Near Road,06-037-4008,AirNow,NaN,36,NaN,NaN,99,NaN
4,1/5/2020,96,PM2.5,Long Beach-Route 710 Near Road,06-037-4008,AirNow,NaN,40,NaN,NaN,96,NaN

### Cleaning all 10 csv files for each city

In [32]:
# Add latitude and longitude for LA
dataLA["lat"] = 34.0522
dataLA["lon"] = -118.2437

# Add City name
dataLA["city_name"] = "Los_Angeles"

# Add shelter in place date
dataLA["state_ordinance"] = "2020-03-23"

# Changed date colume from object to datetime
dataLA["Date"] = pd.to_datetime(dataLA["Date"])
dataLA["state_ordinance"] = pd.to_datetime(dataLA["state_ordinance"])

# Rename columns
dataLA = dataLA.rename(columns= {"Date": "date",
                                 'Overall_AQI_Value': 'overall_aqi_value',
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"},
                                errors="raise")

In [33]:
# Run head() and dtypes to check that changes took
dataLA.head()
# dataLA.dtypes

,date,overall_aqi_value,main_pollutant,site_name,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,102,PM2.5,Long Beach-Route 710 Near Road,06-037-4008,AirNow,NaN,44,NaN,NaN,102,NaN,34.0522,-118.2437,Los_Angeles,2020-03-23
1,2020-01-02,66,PM2.5,Long Beach-Route 710 Near Road,06-037-4008,AirNow,NaN,40,NaN,NaN,66,NaN,34.0522,-118.2437,Los_Angeles,2020-03-23
2,2020-01-03,87,PM2.5,Long Beach-Route 710 Near Road,06-037-4008,AirNow,NaN,41,NaN,NaN,87,NaN,34.0522,-118.2437,Los_Angeles,2020-03-23
3,2020-01-04,99,PM2.5,Long Beach-Route 710 Near Road,06-037-4008,AirNow,NaN,36,NaN,NaN,99,NaN,34.0522,-118.2437,Los_Angeles,2020-03-23
4,2020-01-05,96,PM2.5,Long Beach-Route 710 Near Road,06-037-4008,AirNow,NaN,40,NaN,NaN,96,NaN,34.0522,-118.2437,Los_Angeles,2020-03-23

In [34]:
# Import raw/uncleaned cvs files 

dataBoise = pd.read_csv("Resources/aqiDailyBoise.csv")
dataNewOrleans = pd.read_csv("Resources/aqiDailyNewOrleans.csv")
dataNY = pd.read_csv("Resources/aqiDailyNY.csv")
dataPortland = pd.read_csv("Resources/aqiDailyPortland.csv")
dataSeattle = pd.read_csv("Resources/aqiDailySeattle.csv")

dataMilwaukee = pd.read_csv("Resources/aqiDailyMilwaukee.csv")
dataIndianapolis = pd.read_csv("Resources/aqiDailyIndianapolis.csv")
dataDetroit = pd.read_csv("Resources/aqiDailyDetroit.csv")
dataColumbus= pd.read_csv("Resources/aqiDailyColumbus.csv")

In [35]:
dataBoise.head()

,Date,Overall_AQI_Value,Main Pollutant,Site Name (of Overall AQI),Lat,Lon,Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,1/1/2020,63,PM2.5,Boise - White Pine Elementary,43.615,-116.2023,16-015-0001,AirNow,NaN,28,NaN,NaN,63,NaN
1,1/2/2020,62,PM2.5,Boise - White Pine Elementary,43.615,-116.2023,16-015-0001,AirNow,NaN,23,NaN,NaN,62,NaN
2,1/3/2020,52,PM2.5,Boise - White Pine Elementary,43.615,-116.2023,16-015-0001,AirNow,NaN,26,NaN,NaN,52,NaN
3,1/4/2020,55,PM2.5,Boise - White Pine Elementary,43.615,-116.2023,16-015-0001,AirNow,NaN,28,NaN,NaN,55,NaN
4,1/5/2020,43,PM2.5,Boise - White Pine Elementary,43.615,-116.2023,16-015-0001,AirNow,NaN,24,NaN,NaN,43,NaN

In [36]:
# Add latitude and longitude for Boise
dataBoise["lat"] = 43.6150
dataBoise["lon"] = -116.2023
# Change name column value  
dataBoise["city_name"] = "Boise"
# Add state ordinance
dataBoise["state_ordinance"] = "2020-03-25"
# Changed date colume from object to datetime
dataBoise["Date"] = pd.to_datetime(dataBoise["Date"])
dataBoise["state_ordinance"] = pd.to_datetime(dataBoise["state_ordinance"])
dataBoise = dataBoise.rename(columns= {"Date": "date",
                                 "Overall_AQI_Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [37]:
dataBoise.head()

,date,overall_aqi_value,main_pollutant,site_name,Lat,Lon,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,63,PM2.5,Boise - White Pine Elementary,43.615,-116.2023,16-015-0001,AirNow,NaN,28,NaN,NaN,63,NaN,43.615,-116.2023,Boise,2020-03-25
1,2020-01-02,62,PM2.5,Boise - White Pine Elementary,43.615,-116.2023,16-015-0001,AirNow,NaN,23,NaN,NaN,62,NaN,43.615,-116.2023,Boise,2020-03-25
2,2020-01-03,52,PM2.5,Boise - White Pine Elementary,43.615,-116.2023,16-015-0001,AirNow,NaN,26,NaN,NaN,52,NaN,43.615,-116.2023,Boise,2020-03-25
3,2020-01-04,55,PM2.5,Boise - White Pine Elementary,43.615,-116.2023,16-015-0001,AirNow,NaN,28,NaN,NaN,55,NaN,43.615,-116.2023,Boise,2020-03-25
4,2020-01-05,43,PM2.5,Boise - White Pine Elementary,43.615,-116.2023,16-015-0001,AirNow,NaN,24,NaN,NaN,43,NaN,43.615,-116.2023,Boise,2020-03-25

In [38]:
dataColumbus.head()

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,1/1/2020,24,PM2.5,Smoky Row Near Road,39-049-0038,AQS,0,.,0,.,24,10
1,1/2/2020,17,PM2.5,Smoky Row Near Road,39-049-0038,AQS,1,.,0,.,17,15
2,1/3/2020,23,NO2,Fairgrounds,39-049-0034,AQS,2,.,0,.,18,23
3,1/4/2020,40,PM2.5,Maple Canyon,39-049-0081,AQS,0,.,0,7,40,7
4,1/5/2020,24,PM2.5,Smoky Row Near Road,39-049-0038,AQS,0,.,0,.,24,9

In [39]:
# Add latitude and longitude for Columbus
dataColumbus["lat"] = 39.9612
dataColumbus["lon"] = -82.9988
# RendataLAame column value  
dataColumbus["city_name"] = "Columbus"
# Add state ordinance
dataColumbus["state_ordinance"] = "2020-03-23"
# Changed date colume from object to datetime
dataColumbus["Date"] = pd.to_datetime(dataColumbus["Date"])
dataColumbus["state_ordinance"] = pd.to_datetime(dataColumbus["state_ordinance"])

dataColumbus = dataColumbus.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [40]:
dataColumbus.head()

,date,overall_aqi_value,main_pollutant,site_name,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,24,PM2.5,Smoky Row Near Road,39-049-0038,AQS,0,.,0,.,24,10,39.9612,-82.9988,Columbus,2020-03-23
1,2020-01-02,17,PM2.5,Smoky Row Near Road,39-049-0038,AQS,1,.,0,.,17,15,39.9612,-82.9988,Columbus,2020-03-23
2,2020-01-03,23,NO2,Fairgrounds,39-049-0034,AQS,2,.,0,.,18,23,39.9612,-82.9988,Columbus,2020-03-23
3,2020-01-04,40,PM2.5,Maple Canyon,39-049-0081,AQS,0,.,0,7,40,7,39.9612,-82.9988,Columbus,2020-03-23
4,2020-01-05,24,PM2.5,Smoky Row Near Road,39-049-0038,AQS,0,.,0,.,24,9,39.9612,-82.9988,Columbus,2020-03-23

In [41]:
dataDetroit.head()

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,1/1/2020,55,PM2.5,TRINITY ST MARKS (GHIB),26-163-0099,AirNow,NaN,29,NaN,NaN,55,NaN
1,1/2/2020,49,PM2.5,PROPERTY OWNED BY DEARBORN PUBLIC SCHOOLS,26-163-0033,AirNow,NaN,26,NaN,NaN,49,NaN
2,1/3/2020,58,PM2.5,TRINITY ST MARKS (GHIB),26-163-0099,AirNow,NaN,19,NaN,NaN,58,NaN
3,1/4/2020,32,PM2.5,TRINITY ST MARKS (GHIB),26-163-0099,AirNow,NaN,31,NaN,NaN,32,NaN
4,1/5/2020,53,PM2.5,Military Park (GHIB),26-163-0100,AirNow,NaN,31,NaN,NaN,53,NaN

In [42]:
# Add latitude and longitude for Detroit
dataDetroit["lat"] = 42.3314
dataDetroit["lon"] = -83.0458
# RendataLAame column value  
dataDetroit["city_name"] = "Detroit"
# Add state ordinance
dataDetroit["state_ordinance"] = "2020-03-24"
# Changed date colume from object to datetime
dataDetroit["Date"] = pd.to_datetime(dataDetroit["Date"])
dataDetroit["state_ordinance"] = pd.to_datetime(dataDetroit["state_ordinance"])

dataDetroit = dataDetroit.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [44]:
dataDetroit.head()

,date,overall_aqi_value,main_pollutant,site_name,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,55,PM2.5,TRINITY ST MARKS (GHIB),26-163-0099,AirNow,NaN,29,NaN,NaN,55,NaN,42.3314,-83.0458,Detroit,2020-03-24
1,2020-01-02,49,PM2.5,PROPERTY OWNED BY DEARBORN PUBLIC SCHOOLS,26-163-0033,AirNow,NaN,26,NaN,NaN,49,NaN,42.3314,-83.0458,Detroit,2020-03-24
2,2020-01-03,58,PM2.5,TRINITY ST MARKS (GHIB),26-163-0099,AirNow,NaN,19,NaN,NaN,58,NaN,42.3314,-83.0458,Detroit,2020-03-24
3,2020-01-04,32,PM2.5,TRINITY ST MARKS (GHIB),26-163-0099,AirNow,NaN,31,NaN,NaN,32,NaN,42.3314,-83.0458,Detroit,2020-03-24
4,2020-01-05,53,PM2.5,Military Park (GHIB),26-163-0100,AirNow,NaN,31,NaN,NaN,53,NaN,42.3314,-83.0458,Detroit,2020-03-24

In [45]:
dataMilwaukee.head()

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,1/1/2020,35,PM2.5,MILWAUKEE - SIXTEENTH ST. HEALTH CENTER,55-079-0010,AirNow,NaN,27,NaN,NaN,35,NaN
1,1/2/2020,29,PM2.5,WAUKESHA - CLEVELAND AVE,55-133-0027,AirNow,NaN,24,NaN,NaN,29,NaN
2,1/3/2020,43,PM2.5,MILWAUKEE - SIXTEENTH ST. HEALTH CENTER,55-079-0010,AirNow,NaN,26,NaN,NaN,43,NaN
3,1/4/2020,31,Ozone,MILWAUKEE - SER DNR HDQRS,55-079-0026,AirNow,NaN,31,NaN,NaN,30,NaN
4,1/5/2020,36,PM2.5,MILWAUKEE - SIXTEENTH ST. HEALTH CENTER,55-079-0010,AirNow,NaN,29,NaN,NaN,36,NaN

In [46]:
# Add latitude and longitude for Milwaukee
dataMilwaukee["lat"] = 43.0389
dataMilwaukee["lon"] = -87.9065
# RendataLAame column value  
dataMilwaukee["city_name"] = "Milwaukee"
# Add state ordinance
dataMilwaukee["state_ordinance"] = "2020-03-25"
# Changed date colume from object to datetime
dataMilwaukee["Date"] = pd.to_datetime(dataMilwaukee["Date"])
dataMilwaukee["state_ordinance"] = pd.to_datetime(dataMilwaukee["state_ordinance"])

dataMilwaukee = dataMilwaukee.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [48]:
dataMilwaukee.head()

,date,overall_aqi_value,main_pollutant,site_name,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,35,PM2.5,MILWAUKEE - SIXTEENTH ST. HEALTH CENTER,55-079-0010,AirNow,NaN,27,NaN,NaN,35,NaN,43.0389,-87.9065,Milwaukee,2020-03-25
1,2020-01-02,29,PM2.5,WAUKESHA - CLEVELAND AVE,55-133-0027,AirNow,NaN,24,NaN,NaN,29,NaN,43.0389,-87.9065,Milwaukee,2020-03-25
2,2020-01-03,43,PM2.5,MILWAUKEE - SIXTEENTH ST. HEALTH CENTER,55-079-0010,AirNow,NaN,26,NaN,NaN,43,NaN,43.0389,-87.9065,Milwaukee,2020-03-25
3,2020-01-04,31,Ozone,MILWAUKEE - SER DNR HDQRS,55-079-0026,AirNow,NaN,31,NaN,NaN,30,NaN,43.0389,-87.9065,Milwaukee,2020-03-25
4,2020-01-05,36,PM2.5,MILWAUKEE - SIXTEENTH ST. HEALTH CENTER,55-079-0010,AirNow,NaN,29,NaN,NaN,36,NaN,43.0389,-87.9065,Milwaukee,2020-03-25

In [49]:
dataNewOrleans.head()

,Date,Overall_AQI_Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,1/1/2020,84,PM2.5,Chalmette Vista,22-087-0007,AQS,6,34,37,49,84,36
1,1/2/2020,51,PM2.5,Chalmette Vista,22-087-0007,AQS,5,31,50,19,51,13
2,1/3/2020,36,SO2,Norco,22-089-0006,AQS,6,35,36,4,10,20
3,1/4/2020,34,Ozone,Kenner,22-051-1001,AQS,6,34,3,12,24,25
4,1/5/2020,34,Ozone,Convent,22-093-0002,AQS,10,34,27,10,30,24

In [50]:
# Add latitude and longitude for NewOrleans
dataNewOrleans["lat"] = 29.9511
dataNewOrleans["lon"] = -90.0715
# RendataLAame column value  
dataNewOrleans["city_name"] = "New_Orleans"
# Add state ordinance
dataNewOrleans["state_ordinance"] = "2020-03-23"
# Changed date colume from object to datetime
dataNewOrleans["Date"] = pd.to_datetime(dataNewOrleans["Date"])
dataNewOrleans["state_ordinance"] = pd.to_datetime(dataNewOrleans["state_ordinance"])

dataNewOrleans = dataNewOrleans.rename(columns= {"Date": "date",
                                 "Overall_AQI_Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [51]:
dataNewOrleans.head()

,date,overall_aqi_value,main_pollutant,site_name,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,84,PM2.5,Chalmette Vista,22-087-0007,AQS,6,34,37,49,84,36,29.9511,-90.0715,New_Orleans,2020-03-23
1,2020-01-02,51,PM2.5,Chalmette Vista,22-087-0007,AQS,5,31,50,19,51,13,29.9511,-90.0715,New_Orleans,2020-03-23
2,2020-01-03,36,SO2,Norco,22-089-0006,AQS,6,35,36,4,10,20,29.9511,-90.0715,New_Orleans,2020-03-23
3,2020-01-04,34,Ozone,Kenner,22-051-1001,AQS,6,34,3,12,24,25,29.9511,-90.0715,New_Orleans,2020-03-23
4,2020-01-05,34,Ozone,Convent,22-093-0002,AQS,10,34,27,10,30,24,29.9511,-90.0715,New_Orleans,2020-03-23

In [52]:
dataNY.head()

,Date,Overall_AQI_Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,1/1/2020,36,PM2.5,Intermediate School 143,36-061-0115,AQS,2,31,0,.,36,17
1,1/2/2020,56,PM2.5,Intermediate School 143,36-061-0115,AQS,13,31,9,.,56,39
2,1/3/2020,68,PM2.5,Fort Lee Near Road,34-003-0010,AirNow,13,19,1,.,68,36
3,1/4/2020,59,PM2.5,Fort Lee Near Road,34-003-0010,AirNow,8,28,1,.,59,28
4,1/5/2020,37,PM2.5,CCNY,36-061-0135,AQS,6,33,0,.,37,19

In [53]:
# Add latitude and longitude for NY
dataNY["lat"] = 40.7128
dataNY["lon"] = -74.0060
# RendataLAame column value  
dataNY["city_name"] = "New_York"
# Add state ordinance
dataNY["state_ordinance"] = "2020-03-23"
# Changed date colume from object to datetime
dataNY["Date"] = pd.to_datetime(dataNY["Date"])
dataNY["state_ordinance"] = pd.to_datetime(dataNY["state_ordinance"])

dataNY = dataNY.rename(columns= {"Date": "date",
                                 "Overall_AQI_Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [54]:
dataNY.head()

,date,overall_aqi_value,main_pollutant,site_name,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,36,PM2.5,Intermediate School 143,36-061-0115,AQS,2,31,0,.,36,17,40.7128,-74.006,New_York,2020-03-23
1,2020-01-02,56,PM2.5,Intermediate School 143,36-061-0115,AQS,13,31,9,.,56,39,40.7128,-74.006,New_York,2020-03-23
2,2020-01-03,68,PM2.5,Fort Lee Near Road,34-003-0010,AirNow,13,19,1,.,68,36,40.7128,-74.006,New_York,2020-03-23
3,2020-01-04,59,PM2.5,Fort Lee Near Road,34-003-0010,AirNow,8,28,1,.,59,28,40.7128,-74.006,New_York,2020-03-23
4,2020-01-05,37,PM2.5,CCNY,36-061-0135,AQS,6,33,0,.,37,19,40.7128,-74.006,New_York,2020-03-23

In [55]:
dataPortland.head()

,Date,Overall_AQI_Value,Main Pollutant,SiteName (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,1/1/2020,29,Ozone,Portland,41-051-0080,AirNow,NaN,29,NaN,NaN,16,NaN
1,1/2/2020,28,Ozone,Portland,41-051-0080,AirNow,NaN,28,NaN,NaN,20,NaN
2,1/3/2020,35,Ozone,Portland,41-051-0080,AirNow,NaN,35,NaN,NaN,20,NaN
3,1/4/2020,34,Ozone,Portland,41-051-0080,AirNow,NaN,34,NaN,NaN,20,NaN
4,1/5/2020,31,Ozone,Portland,41-051-0080,AirNow,NaN,31,NaN,NaN,15,NaN

In [56]:
# Add latitude and longitude for Portland
dataPortland["lat"] = 45.5051
dataPortland["lon"] = -122.6750
# RendataLAame column value  
dataPortland["city_name"] = "Portland"
# Add state ordinance
dataPortland["state_ordinance"] = "2020-03-23"
# Changed date colume from object to datetime
dataPortland["Date"] = pd.to_datetime(dataPortland["Date"])
dataPortland["state_ordinance"] = pd.to_datetime(dataPortland["state_ordinance"])

dataPortland = dataPortland.rename(columns= {"Date": "date",
                                 "Overall_AQI_Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "SiteName (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [57]:
dataPortland.head()

,date,overall_aqi_value,main_pollutant,site_name,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,29,Ozone,Portland,41-051-0080,AirNow,NaN,29,NaN,NaN,16,NaN,45.5051,-122.675,Portland,2020-03-23
1,2020-01-02,28,Ozone,Portland,41-051-0080,AirNow,NaN,28,NaN,NaN,20,NaN,45.5051,-122.675,Portland,2020-03-23
2,2020-01-03,35,Ozone,Portland,41-051-0080,AirNow,NaN,35,NaN,NaN,20,NaN,45.5051,-122.675,Portland,2020-03-23
3,2020-01-04,34,Ozone,Portland,41-051-0080,AirNow,NaN,34,NaN,NaN,20,NaN,45.5051,-122.675,Portland,2020-03-23
4,2020-01-05,31,Ozone,Portland,41-051-0080,AirNow,NaN,31,NaN,NaN,15,NaN,45.5051,-122.675,Portland,2020-03-23

In [58]:
dataSeattle.head()

,Date,Overall_AQI_Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,1/1/2020,34,Ozone,SEATTLE - BEACON HILL,53-033-0080,AirNow,NaN,34,NaN,NaN,26,NaN
1,1/2/2020,31,Ozone,SEATTLE - BEACON HILL,53-033-0080,AirNow,NaN,31,NaN,NaN,30,NaN
2,1/3/2020,37,Ozone,SEATTLE - BEACON HILL,53-033-0080,AirNow,NaN,37,NaN,NaN,36,NaN
3,1/4/2020,36,Ozone,SEATTLE - BEACON HILL,53-033-0080,AirNow,NaN,36,NaN,NaN,30,NaN
4,1/5/2020,31,Ozone,SEATTLE - BEACON HILL,53-033-0080,AirNow,NaN,31,NaN,NaN,24,NaN

In [59]:
# Add latitude and longitude for Seattle
dataSeattle["lat"] = 47.6062
dataSeattle["lon"] = -122.3321
# RendataLAame column value  
dataSeattle["city_name"] = "Seattle"
# Add state ordinance
dataSeattle["state_ordinance"] = "2020-03-23"
# Changed date colume from object to datetime
dataSeattle["Date"] = pd.to_datetime(dataSeattle["Date"])
dataSeattle["state_ordinance"] = pd.to_datetime(dataSeattle["state_ordinance"])

dataSeattle = dataSeattle.rename(columns= {"Date": "date",
                                 "Overall_AQI_Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [60]:
dataPortland.head()

,date,overall_aqi_value,main_pollutant,site_name,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,29,Ozone,Portland,41-051-0080,AirNow,NaN,29,NaN,NaN,16,NaN,45.5051,-122.675,Portland,2020-03-23
1,2020-01-02,28,Ozone,Portland,41-051-0080,AirNow,NaN,28,NaN,NaN,20,NaN,45.5051,-122.675,Portland,2020-03-23
2,2020-01-03,35,Ozone,Portland,41-051-0080,AirNow,NaN,35,NaN,NaN,20,NaN,45.5051,-122.675,Portland,2020-03-23
3,2020-01-04,34,Ozone,Portland,41-051-0080,AirNow,NaN,34,NaN,NaN,20,NaN,45.5051,-122.675,Portland,2020-03-23
4,2020-01-05,31,Ozone,Portland,41-051-0080,AirNow,NaN,31,NaN,NaN,15,NaN,45.5051,-122.675,Portland,2020-03-23

In [61]:
dataIndianapolis.head()

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,1/1/2020,33,Ozone,Helmsburg,18-013-0001,AQS,2,33,1,15,28,8
1,1/2/2020,35,PM2.5,Indpls- W. 18th St./ Ernie Pyle School 90,18-097-0081,AQS,2,32,1,14,35,16
2,1/3/2020,71,PM2.5,Indpls.- I 70,18-097-0087,AQS,5,17,0,21,71,23
3,1/4/2020,51,PM2.5,Indpls- Washington Park/ in parking lot next ...,18-097-0078,AQS,3,29,0,15,51,8
4,1/5/2020,31,Ozone,Helmsburg,18-013-0001,AQS,2,31,1,9,26,17

In [62]:
# Add latitude and longitude for Indianapolis
dataIndianapolis["lat"] = 39.7684
dataIndianapolis["lon"] = -86.1581
# RendataLAame column value  
dataIndianapolis["city_name"] = "Indianapolis"
# Add state ordinance
dataIndianapolis["state_ordinance"] = "2020-03-24"
# Changed date colume from object to datetime
dataIndianapolis["Date"] = pd.to_datetime(dataIndianapolis["Date"])
dataIndianapolis["state_ordinance"] = pd.to_datetime(dataIndianapolis["state_ordinance"])

dataIndianapolis = dataIndianapolis.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [63]:
dataIndianapolis.head()

,date,overall_aqi_value,main_pollutant,site_name,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,33,Ozone,Helmsburg,18-013-0001,AQS,2,33,1,15,28,8,39.7684,-86.1581,Indianapolis,2020-03-24
1,2020-01-02,35,PM2.5,Indpls- W. 18th St./ Ernie Pyle School 90,18-097-0081,AQS,2,32,1,14,35,16,39.7684,-86.1581,Indianapolis,2020-03-24
2,2020-01-03,71,PM2.5,Indpls.- I 70,18-097-0087,AQS,5,17,0,21,71,23,39.7684,-86.1581,Indianapolis,2020-03-24
3,2020-01-04,51,PM2.5,Indpls- Washington Park/ in parking lot next ...,18-097-0078,AQS,3,29,0,15,51,8,39.7684,-86.1581,Indianapolis,2020-03-24
4,2020-01-05,31,Ozone,Helmsburg,18-013-0001,AQS,2,31,1,9,26,17,39.7684,-86.1581,Indianapolis,2020-03-24

In [19]:
# To load to postgreSQL and add date as PK to each table
dataLA.to_sql("la", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE la ADD PRIMARY KEY (date);")
    
dataBoise.to_sql("boise", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE boise ADD PRIMARY KEY (date);")
    
dataColumbus.to_sql("columbus", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE columbus ADD PRIMARY KEY (date);")
    
dataDetroit.to_sql("detroit", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE detroit ADD PRIMARY KEY (date);")

dataMilwaukee.to_sql("milwaukee", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE milwaukee ADD PRIMARY KEY (date);")
    
dataNewOrleans.to_sql("neworleans", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE neworleans ADD PRIMARY KEY (date);")
    
dataNY.to_sql("ny", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE ny ADD PRIMARY KEY (date);")
    
dataPortland.to_sql("portland", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE portland ADD PRIMARY KEY (date);")
    
dataSeattle.to_sql("seattle", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE seattle ADD PRIMARY KEY (date);")
    
dataIndianapolis.to_sql("indianapolis", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE indianapolis ADD PRIMARY KEY (date);")

ValueError: Table 'la' already exists.

In [22]:
dataLA.to_csv("Resources/UpdatedLA.csv")
dataBoise.to_csv("Resources/UpdatedBoise.csv")
dataColumbus.to_csv("Resources/UpdatedColumbus.csv")
dataDetroit.to_csv("Resources/UpdatedDetroit.csv")
dataMilwaukee.to_csv("Resources/UpdatedMilwaukee.csv")
dataNewOrleans.to_csv("Resources/UpdatedNewOrleans.csv")
dataNY.to_csv("Resources/UpdatedNY.csv")
dataPortland.to_csv("Resources/UpdatedPortland.csv")
dataSeattle.to_csv("Resources/UpdatedSeattle.csv")
dataIndianapolis.to_csv("Resources/UpdatedIndianapolis.csv")